*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background: rgb(106,127,235);
    background: linear-gradient(90deg, rgb(138, 155, 243) 17%, rgba(215,128,128,1) 46%, rgba(142,156,230,1) 79%);
    line-height: 1.5;
    font-size: 100%;
}
.mainApp{
    font-size: 1rem;
}
p{
    line-height: 2;
    font-family: Arial, Helvetica, sans-serif;
}












                