.messageDisplayNow{
    width: 100%;
    min-height: 100vh;
    /* background-color: black; */
    color: white;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-areas: 
    'newMessageDisplay_box_1 newMessageDisplay_box_1 newMessageDisplay_box_1 newMessageDisplay_box_1 newMessageDisplay_box_2'
    ;
}

.newMessageDisplay_box_1{
    grid-area: newMessageDisplay_box_1;
    background-color: white;
    color: black;
    padding: 2em 1em;
    text-align: left;
}
.newMessageDisplay_box_2{
    grid-area: newMessageDisplay_box_2;
    background-color: magenta;
    padding: 2em 1em;
}

.back_rootMatch_h5{
    /* color: black;
    display: flex; */
    text-align: left;
    cursor: pointer;
}

.Books_api_social_on_image{
    width: 100%;
}
.about_main_h5{
    line-height: 1.5em;
    margin: 2em 0em;
}
.book_title_h1{
    color: black;
    font-weight: bolder;
}
.social_icons{
    width: 30%;
    margin: 0 auto;
}
.social_icons h3{
  margin-bottom: 1em;
}




@media screen and ( max-width: 500px){
    .messageDisplayNow{
        width: 100%;
        min-height: 100vh;
        /* background-color: black; */
        color: white;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-areas: 
        'newMessageDisplay_box_1 '
        'newMessageDisplay_box_2 '
        ;
    }
}